{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="description" content="Days left to make more memories!">
    <meta name="author" content="Nishanth Krishna Churchmal">
    
    <meta name="og:title" content="Love of my Life">
    <meta name="og:description" content="The love you always wanted!">
    <meta property="og:url" content="https://loveofmylife.live/">
    <meta property="og:image" content="https://loveofmylife.live/static/logo.JPG">
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content="Love of my Life">
    <meta name="twitter:description" content="The love you always wanted!">
    <meta property="twitter:url" content="https://loveofmylife.live/">
    <meta property="twitter:image" content="https://loveofmylife.live/static/logo.JPG">
    <meta name="twitter:card" content="summary_large_image" />

    {% comment %} Change here {% endcomment %}
    
    
    <link rel="shortcut icon" href="{% static 'logo.ico' %}"/>
    <link rel="icon" href="{% static 'logo.ico' %}">
    {% comment %}  {% endcomment %}

    <title>Love of my life</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono">
    <meta name='viewport' content='width=device-width, initial-scale=1'>


    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="d-flex flex-column justify-content-between">

    <!-- First Container -->
    <div id="container1">
        <div id="container1">
            <div class="card" style="width: 19rem; background-color:{{bg_color}}; border: none; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);">
                <img src="{% static image_url %}" class="card-img curved-img" alt="{{image_url}}">
                <div class="card-body">
                    <div id="countdown">
                        <h3 id="time">Card Title</h3>
                        <p id="ylink"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Container -->
    <div id="container2">
        <p>{{selected_message}}</p>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const targetDate = new Date('May 10, 2025 00:00:00').getTime();

            const now = new Date().getTime();
            const distance = targetDate - now;


            function updateCountdown() {
                const now = new Date().getTime();
                const distance = targetDate - now;

                const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById('time').innerHTML = `${days}d ${hours}h ${minutes}m ${seconds}s`;
                document.getElementById('ylink').innerHTML = "To go";
                
            }

            updateCountdown();
            setInterval(updateCountdown, 1000);
        });
    </script>
</body>
</html>
